body{
    font-family:  arial;
    font-size: 14px;
    width: 1000px;
    margin: 0px auto;
}
section {
    padding: 10px;
}

header {
    padding: 10px;
    text-align: center;
    background: url(../img/bg2.jpg);
    color: white;
    height: 150px;
}

header h1 {
    font-size: 40px;
}

header h1,
h2,
h3 {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active),
.dropdown:hover .dropbtn {
    color: white;
    background-color:#333333;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hideable-section {
    display: none;
}

.hideable-section:first-of-type {
    display: block;
}
#banner {
    height: auto;
    width: 1000px;
}
#main #left {
    width: 700px;
    float: left;
    min-height: 400px;
}
#main #right{
    width: 300px;
    float: left;
    min-height: 400px; 
    background: #C0C0C0;  
}
#footer{
    background: #000;
    width: 1000px;
    text-align: center;
    height: 350px;
    color: white;
    clear: left;
}
#menu_top ul{
    margin: 0px;
    padding: 0px;

}
#menu_top ul li {
     list-style: none;
     float: left;
}
#menu_top ul li a {
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: white;
    padding: 0px 10px 0px;
    border-right: 1px solid #ccc;
}
#banner img{
    width: 1000px;
}
#main #left ul {
    margin: 0px;
    padding: 0px;
}
#main #left ul li {
    list-style: none;
    clear: left;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-bottom: 20px;
}
#main #left ul li img{
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
#main #left ul li h5 {
    font-size: 14px;
    margin-top: 0px;
}
#main {
    margin-top: 10px;
}
#main #right .menu_right ul {
    margin: -15px 0px 0px 0px;
    padding: 0px;
    border: 1px solid #ccc;
}
#main #right .menu_right ul li {
    list-style: none;
}
#main #right .menu_right ul li a {
    display: block;
    text-decoration: none;
    line-height: 40px;
    height: 35px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    background: url(../img/cross.png) no-repeat 4px;
    text-indent: 55px;
}
#main #right .menu_right ul li a:hover {
    color: orange;
    background: beige url(../img/icons8-tick-box-24.png) no-repeat 2px;
}
#main #right .menu_right h6 {
    background: #194d58 url(../img/xbox-menu.png) no-repeat 3px;
    height: 40px;
    margin-top: 0px;
    text-indent: 35px;
    font-size: 14px;
    line-height: 40px;
    color: white;
}
#footer table th {
    text-align: left;
}